@charset "UTF-8";
/*
Criando e usando Variaveis

#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'Android';
    src: url('/Android.ttf') format('truetype');
    font-weight: normal;
}

:root{
    --cor1: #fdf1cb;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', sans-serif;

}

*{
    margin: 0px;
    padding: 0px;
    
}



body{
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\00a0\1F517';
}

header{
   background-image: linear-gradient(to bottom, var(--cor4), var(--cor6));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.288);
}

header p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.325);


}

nav{
    background-color: var(--cor6);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.363) ;
}

nav a{
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-radius: 10px 10px 0px 0px ;
    transition-duration: 1s;
}

nav a:hover{
    background-color: var(--cor5);
    color: yellow;
}

main{
    margin: auto;
    min-width: 320px;
    max-width: 1200px;
    padding: 20px;
    padding-bottom: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.419);
    border-radius: 0px 0px 10px 10px;
}

main h1{
    color: var(--cor6);
    font-family: var(--fonte-android);
}

main h2{
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor3), transparent);
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.2em;
    line-height: 1.5em;


}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor6);
    border-radius: 5px;
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    background-color: var(--cor2);
    
}

main img{
    width: 100%;
}

div.video {
    background-color: var(--cor6);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}


strong{
    color: var(--cor5);
    font-weight: bold;
    }
aside{
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

aside h3{
    color: white;
    background-color: var(--cor5);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside ul{
    list-style-position: inside;
    list-style-type: '\2714\00a0\00a0';
    columns: 2;
}

footer{
    background-color: var(--cor6);
    color:white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    
    
}
footer a:hover{
    color: yellow;

}
