@charset "UTF-8";

body{
            background-color: rgba(240, 221, 185, 0.962);
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            text-align: justify;
        }
        h1{
            background-color: rgb(242, 136, 49);
            color: rgb(42, 180, 215);
            font-size: 50px;
        }
        h2{
            color: rgb(249, 2, 27);
        }
        p{
            color: rgb(42, 180, 215);
        }