*

     body {
       margin: 0;
      font-family: "Arial", sans-serif;
     }

nav { display: flex;
     align-self: center;
     gap: 1rem;
     padding: 1rem; 
     background: #0a472e; }

nav a { color: white; 
     text-decoration: none; }
nav a:hover{
  color: yellow;
  text-decoration: underline;
}

.hero { height: 50vh;
     background: #ccc; 
     display: flex; 
     flex-direction: column; 
     justify-content: center; 
     align-items: center; }


     .hero1 {
  position: relative;
  height: 50vh;
  overflow: hidden;
}

.hero1 .slide {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fade 20s infinite;
}

.slide:nth-child(1) { animation-delay: 0s; }
.slide:nth-child(2) { animation-delay: 5s; }
.slide:nth-child(3) { animation-delay: 10s; }
.slide:nth-child(4) { animation-delay: 15s; }

@keyframes fade {
  0%   { opacity: 1; }
  20%  { opacity: 1; }
  25%  { opacity: 0; }
  95%  { opacity: 0; }
  100% { opacity: 1; }
}

.hero1-content {
      position: relative;
      z-index: 2;
      max-width: 700px;
      margin: auto;
    }

    .hero1 h1 {
        color: white; 
      font-size: 2.5rem;
      margin-bottom: 1rem;
      font-weight: 800;
    }

    .hero1 p {
         color: white;
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }

    h1 {
      max-width: 1500px;
      margin: auto;
      padding: 0 1rem 
    }

    h2 {
     color: #0a472e;
      max-width: 1470px;
      margin: auto;
      padding: 0 1rem 
    }

    h3 {
     color: #0a472e;
      max-width: 1470px;
      margin: auto;
      padding: 0 1rem 
    }

    p {
     text-align: justify;
      max-width: 1460px;
      margin: auto;
      padding: 0 1rem 
    }

    img{
      width: 100%
    }
    

     footer {
      background-color: #00221a;
      color: white;
      text-align:center;
      padding: 2rem 1rem;
      margin-top: 3rem;
    }

    footer {
      margin-bottom: 0.5rem;
      
    }
