@charset "UTF-8";

*{
font-family: Arial, Helvetica, sans-serif;

}

body{
    background-image: linear-gradient(to right, #6ff5f5, white);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(118, 143, 146, 0.775) ;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color:#038686 ;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(77, 93, 99, 0.501);
}

h2{
    color: #64bbbb;
    text-shadow: 1px 1px 2px ;
}
p{
    text-align: justify;
}